
body {
    display: flex;
    min-height: 97vh;
    flex-direction: column;
}
.sand-c-hero{
    background-color: #ffffff; /* Used if the image is unavailable */
    background-repeat: repeat-x; /* Do not repeat the image */
    flex:1;
    .sand-c-hero__inner{
        padding-top:50px;
    }
    &.sand-c-hero__main{
        min-height: 950px; /* You must set a specified height */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-position: center; /* Center the image */
    }
}

.sand-top-strip{
    max-height:31px; 
    width:100%; 
    background-image: url("img/bg-flourish1.gif"); /* The image used */
}
.sand-c-content-breaker{
    &.sand-c-content-breaker--bg{
        background-color:#F3F3F3;
    }
    &.sm{
        padding:15px 0 15px 0; 
    }
    &.md {
        padding:25px;
    }
    border-top:2px solid #F0F0F0;
    border-bottom:2px solid #F0F0F0;
}


/* 
    Utilities
*/
.sand-u-font__color--facebook{
    color: #3b5998!important
}

.sand-u-font__color--black{
    color: #000!important
}

/* 
    Main hover article cards 
*/
.sand-c-link-card{
    a, a:link, a:hover{
        color:#000 !important;
    }
    .sand-c-link-card__inner{
        border: 1px solid #f0f0f0;
        border-radius: 5px;
        .sand-c-link-card__content{
            padding:20px 20px 0 20px;
            h1{
                font-size:1.4375rem;
                line-height:1.875rem;
                font-weight:400;
            }
            .sand-c-link-card__content--cat{
                font-size:0.75rem;
                color:#4c1045;
                text-transform: uppercase;
                font-weight:400;
            }
        }
        .sand-c-link-card__img{
            overflow: hidden;
            border-radius: 5px 5px 0 0;
            img{
                transition: transform .5s ease;
            }
        }
        &:hover{
            -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.06);
            -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.06);
            box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.06);
            .sand-c-link-card__img img{
                transform: scale(1.2);
            }
        }
        .sand-c-link-card__footer{
            padding:20px;
        }
    }
 }

/* 
    Equal height flex cards 
*/
.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-equal-height .card-equal-height-footer {
    margin-top: auto;
}


/* 
    Main nav 
*/
 .sand-c-nav{
     margin-top:-30px;
     ul{
        li{
            display: inline-block;
            padding-left:20px;
            font-size:18px;
            a{
                &:link{
                    color:#000;
                }
                &:visited{
                    color:#000;
                }
                &:hover{
                    color:#c22fb1;
                }
                &:active{
                    color:#000;
                }
            }
        }
     }
 }